/* Ajustes para asegurar que el ícono del carrito sea visible en móviles */
.navbar-dark .navbar-nav .nav-link .fa-shopping-cart {
  font-size: 24px;
  color: white; /* Asegúrate de que el ícono sea visible en la barra de navegación */
}

.navbar-dark .navbar-nav .nav-link .badge {
  font-size: 12px; /* Ajusta el tamaño del número del carrito en pantallas pequeñas */
  background-color: red;
  position: absolute;
  top: -5px;
  right: -10px;
}

/* Ajustes para móviles, asegúrate de que el carrito siempre se vea en la parte superior */
@media (max-width: 768px) {
  .navbar-dark .navbar-nav .nav-link {
    padding-left: 10px;
    padding-right: 10px;
  }

  /* Asegura que el carrito sea visible */
  .navbar-dark .navbar-nav .nav-link .fa-shopping-cart {
    font-size: 28px; /* Hazlo un poco más grande para que sea más visible en móvil */
  }

  .navbar-collapse {
    justify-content: flex-start; /* Alinea los elementos a la izquierda para móvil */
  }

  .navbar-collapse .nav-link {
    font-size: 16px; /* Ajusta el tamaño de los links */
  }

  .navbar-toggle {
    background-color: #333; /* Estilo de botón en móvil */
  }

  /* Para ocultar los elementos de la barra de navegación en la página de compra */
  .navbar-dark .navbar-nav .nav-link.hidden-mobile {
    display: none !important;
  }
}

/* Modal del carrito */
.carrito-modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100vh;
  background-color: white;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  z-index: 2000;
  display: none; /* Inicialmente oculto */
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

/* Al hacer clic en el carrito, muestra el modal */
.carrito-modal.open {
  display: flex;  /* Cambia a flex para mostrar el modal */
  transform: translateX(0);  /* Aparece el modal cuando showModal es true */
}
.navbar-brand {
  cursor: pointer;
}
