/*  Secci贸n Hero */
.hero {
  background-image: url('/img/banner.webp');
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Mantiene el contenido flexible */
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10vw; /* Mant茅n este padding para la alineaci贸n en pantallas grandes */
  padding-top: 120px; /* Ajusta seg煤n el espacio que necesitas en la parte superior */
  color: white;
  margin-top: -160px; /* Ajusta el valor seg煤n lo que necesites */

  z-index: 2;
  box-sizing: border-box; /* Asegura que el padding no cause desbordamientos */
  overflow: hidden; /* Evita el desbordamiento en pantallas grandes */
}

/*  Fondo oscuro */
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

/*  Contenido principal */
.main-content {
  position: relative;
  z-index: 2;
  max-width: 50%; /* Permite un contenido m谩s amplio */
  text-align: left;
  padding: 20px;
}

/*  Bot贸n */
button {
  background-color: rgb(var(--color_48));
  color: rgb(var(--color_50));
  font-size: 1.2rem;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: rgb(var(--color_51));
  transform: scale(1.05);
}

/*  Subt铆tulo */
.hero-text {
  font-size: 1.2rem;
  font-weight: 300; /* Fino */
  font-family: 'Anton', sans-serif;
  color: rgb(var(--color_46)); /* Cambi茅 el color de subt铆tulo */
  text-align: left;
  margin-top: 10px;
}

/*  Ajustes para m贸viles */
/*  Ajustes para m贸viles */
@media (max-width: 767px) {
  .hero {
    justify-content: center;
    padding-left: 0;
    text-align: center;
    padding-top: 80px;
    height: auto;
    min-height: 90vh;
  }

  .main-content {
    max-width: 90%;
    text-align: center;
  }

  .hero-text {
    font-size: 1rem;
  }

  .transparent-button {
    font-size: 1rem;
    padding: 10px 20px;
    width: 80%;
    text-transform: uppercase;

  }
}
/*  Quitar el borde azul en los botones y cambiarlo a blanco */
button:focus,
.navbar-toggler:focus,
.nav-link:focus {
  outline: none !important;
  box-shadow: 0 0 5px white !important; /* Agrega un brillo blanco */
  border-color: white !important; /* Cambia el borde a blanco */
}


.transparent-button:hover {
  background-color: white; /* Fondo blanco cuando el mouse pasa */
  color: black; /* Cambiar el color del texto a negro */
}
